<h1>Asciify</h1>
<p>테스트할 텍스트를 입력해주세요</p>
<form action="/asciify/show">
<input type="text" name="ascii_text">
<select name="font">
  <option value="big">big</option>
  <option value="standard">standard</option>
  <option value="thin">thin</option>
  <option value="slant">slant</option>
</select>
<input type="submit" value="실행">
</form>